<!DOCTYPE HTML>
<html>
<head>
<title>Appointments</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/functionalities.js"></script>
</head>
<body>

	<div class="container">

		<h3>Appointments Page</h3>
		<br></br>
		<div id="newdiv">
			<button id="newbtn" type="submit" class="btn btn-default"
				style="margin-right: 5px">NEW</button>
		</div>
		<br></br>
		<div id="addApps" style="display: none">
			
			
			<form class="form-inline" id="appForm">
			<button id="addbtn" type="submit" class="btn btn-default">ADD</button>
			<button id="cancelbtn" type="submit" class="btn btn-default"
				style="margin-left: 20px; margin-right: 5px">CANCEL</button>
			<br></br> <br></br>
				<div class="form-group">
					<label for="date" style="margin-right: 5px">DATE:</label> <input
						type="text" class="form-control" id="date"
						placeholder="Enter date" />
						<span class="error">This field is required</span>
				</div>
				<br></br> <br></br>
				<div class="form-group">
					<label for="time" style="margin-right: 5px">TIME:</label> <input
						type="text" class="form-control" id="time"
						placeholder="Enter time" />
						<span class="error">This field is required</span>
				</div>
				<br></br> <br></br>
				<div class="form-group">
					<label for="description" style="margin-right: 5px">DESCRIPTION:</label>
					<input type="text" class="form-control" id="descinput"
						placeholder="Enter description" />
						<span class="error">This field is required</span>
				</div>
				<br></br> <br></br>
			</form>
		</div>
		<br></br>
		<div class="form-group">

			<input type="text" class="form-control" id="descsearch"
				placeholder="Enter Description"
				style="width: 50%; float: left; margin-right: 20px" />
			<button id="searchbtn" type="submit" style="white-space: normal"
				class="btn btn-default">SEARCH</button>

		</div>

		<div id="noApps">
			<p id="noAppText">No appointments are available</p>
		</div>


		<div id="appsDiv" style="display: none;">
			<table id="appsTable">
				<tbody>
					<tr>
						<th>DATE</th>
						<th>TIME</th>
						<th>DESCRIPTION</th>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</body>
</html>